<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <main>
        <h3>Submitted Information</h3>
        <h4>Name: <%= user.name %> </h4>
        <h4>Dojo Location: <%= user.location %> </h4>
        <h4>Favorite Language: <%= user.favorite %> </h4>
        <h4>Comment: <%= user.comment %> </h4>
        <a href="/">Go back</a>
    </main>
</body>
</html